body,
html {
    margin: 0;
    padding: 0;
}

body {
    background: #003300;

    font-family: monospace;
    color: #00ff00;
    font-size: 20px;
    overflow: hidden;
}

.screen,
.scan-lines,
#output {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.screen {
    background: radial-gradient(ellipse at center, #003300 0%, #002200 70%, #000000 100%);
}

.scan-lines {
    opacity: .4;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 6px, rgba(0,0,0,1) 10px);
}

#output {
    padding: 40px;
    text-shadow: 0 0 20px #00ff00, 0 0 2px #00ff00;
}
