* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background: #003300;
    font-family: monospace;
    color: #00ff00;
    text-shadow: 0 0 20px #00cc00, 0 0 2px #00ff00;
    font-size: 20px;
    overflow: hidden;
}

.screen,
.scan-lines,
#terminal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.screen {
    background: radial-gradient(ellipse at center, #003300 0%, #002200 70%, #000000 100%);
}

.scan-lines {
    opacity: .4;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 6px, rgba(0,0,0,1) 10px);
}

#terminal {
    padding: 40px;
    overflow: scroll;
}

#input {
    position: relative;
    margin-top: 4px;
}

#input input[type=text] {
    width: 100%;
    font-size: 1em;
    font-family: monospace;
    background: transparent;
    border: none;
    color: #00ff00;
    text-shadow: 0 0 20px #00cc00, 0 0 2px #00ff00;
    height: 20px;
    padding-left: 20px;
}

#input input[type=text]:focus,
#input input[type=text]:active {
    outline: none;
}

#input input[type=text]::selection {
    color: #002200;
    background: #00ff00;
}

#input:before {
    content: ">";
    position: absolute;
    left: 0;
    top: 2px;
}
